{% load render_partial %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        صفحه اصلی
      {% endblock %}
    </title>
    {% comment %}لینک های هد{% endcomment %}
{% include "layout/head_" %}
  </head>
  <body>
    {% comment %} هدر سایت {% endcomment %}
    {% include 'layout/header.html' %}

    {% comment %} محتوای صفحه {% endcomment %}
    {% block content %}{% endblock %}

    {% comment %}ارجاعات انتهای فوتر{% endcomment %}

  </body>
</html>
