{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        صفحه اصلی
      {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=0.0.1" />
    {% block head_refrences %}

    {% endblock %}
  </head>
  <body>
    {% include 'layout/header.html' %}

    {% block content %}

    {% endblock %}
    <a href="{% url "home" %}" class="go">بالا</a>
  </body>
</html>
