{% load render_partial %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        صفحه اصلی
      {% endblock %}
    </title>
    {% comment %}لینک های هد{% endcomment %}
    {% include 'layout/head_refrences.html' %}
    
  </head>
  <body>
    {% comment %}هدر سایت{% endcomment %}
    {% render_partial 'manage_pages.views.header_partial' %}

    {% comment %}محتوای صفحه{% endcomment %}
    {% block content %}

    {% endblock %}

    {% comment %}ارجاعات انتهای فوتر{% endcomment %}
    {% include 'layout/footer_refrences.html' %}
  </body>
</html>
