{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        صفحه اصلی
      {% endblock %}
    </title>
    {% comment %}لینک های هد{% endcomment %}
    {% block head_refrences %}

    {% endblock %}
  </head>
  <body>
    {% comment %}  {% endcomment %}
    {% include 'layout/header.html' %}


    {% comment %} محتوای صفحه {% endcomment %}
    {% block content %}{% endblock %}

    {% comment %}ارجاعات انتهای فوتر{% endcomment %}
    {% block footer_refrences %}
    {% endblock %}
  </body>
</html>
