{% load static %}
<footer>
  <div class="container">
    <div class="site-info">
      <img src="{{ set.logo.url }}" alt="لوگو سایت" class="logo" />
      <p>{{ set.about }}</p>
      <p>تلفن:
        {{ set.phone_number }}</p>
      <p>ایمیل: {{ set.email }}</p>
    </div>
    <div class="footer-links">
      {% for cat in cat_link %}
        <div class="link-category">
          <h4>{{ cat_link.linkCategory }}</h4>
          <ul>
            {% for link in links %}
              <li>
                <a href="#">{{link}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</footer>
