{% load static %}
<footer>
    <div class="container">
        <div class="site-info">
            <img src="{{set.logo.url}}" alt="لوگو سایت" class="logo">
            <p>
                {{set.about}}
            </p>
            <p>تلفن: 
                {{set.phone_number}}
            </p>
            <p>ایمیل: {{set.email}}</p>
        </div>
        <div class="footer-links">
          {% for cat in cat_link %}{% endfor %}  
            <div class="link-category">
                <h4>{{cat_link}}</h4>
                <ul>
                    <li><a href="#">لینک ۱</a></li>
                    <li><a href="#">لینک ۲</a></li>
                    <li><a href="#">لینک ۳</a></li>
                </ul>
            </div>

    </div>
</footer>