<header class="header">
  <ul>
    <li>
      <a href="{% url 'index_page' %}"><img src="{{ set.logo.url }}" alt="" class="logo" /></a>
    </li>
    <li>
      <a class="submenu_btn" href="{% url 'all_products' %}">فروشگاه</a>
    </li>

    <li>
      <a href="{% url 'articels_view' %}">مقالات</a>
    </li>
    <li>
      <a href="{% url 'about_us' %}">درباره ما</a>
    </li>
    <li>
      <a href="{% url 'contact_us' %}">تماس با ما</a>
    </li>
  </ul>

  <ul>
    {% if user.is_superuser %}
      <li>
        <a href="/admin/">پنل ادمین</a>
      </li>
    {% endif %}
    {% if user.is_authenticated %}
      <li>
        <a href="{% url 'dashboard_page' %}">پنل کاربری</a>
      </li>
      <li>
        <a href="{% url 'dashboard_page' %}">پنل کاربری</a>
      </li>
      <li>
        <a href="{% url 'logout_page' %}">خروج</a>
      </li>
    {% else %}
      <li>
        <a href="{% url 'register_page' %}">ثبت نام</a>
      </li>
      <li>
        <a href="{% url 'login_page' %}">ورود</a>
      </li>
    {% endif %}
  </ul>
</header>
