<header class="header">
  <ul>
    <li>
      <a href="{% url 'home' %}">صفحه اصلی</a>
    </li>
    <li>
      <a class="submenu_btn">
        محصولات
        <i class="fas fa-chevron-down"></i>
      </a>
      <div class="submenu">
        <ul>
          <li><a href=""> </a></li>

        </ul>
      </div>
    </li>

    <li>
      <a href="{% url 'home' %}">درباره ما</a>
    </li>
    <li>
      <a href="{% url 'home' %}">ارتباط با ما</a>
    </li>
  </ul>
</header>
<header class="header">
  <ul>
    <li>
      <a href="{% url 'home' %}">صفحه اصلی</a>
    </li>
    <li>
      <a class="submenu_btn">
        محصولات
        <i class="fas fa-chevron-down"></i>
      </a>
      <div class="submenu">
        <ul>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </div>
    </li>

    <li>
      <a href="{% url 'home' %}">درباره ما</a>
    </li>
    <li>
      <a href="{% url 'home' %}">ارتباط با ما</a>
    </li>
  </ul>
</header>
