{% extends 'base.html' %}
{% block title %}
  لیست محصولات
{% endblock %}
{% block head_refrences %}
  <link rel="stylesheet" href="{% static 'css/productsList.css' %}" />
{% endblock %}

{% block content %}
  <main class="co">
    {% for product in products %}
      <div class="product_card">
        <img src="{{ product.image }}" alt="{{ product.name }}" />
        <p>{{ product.name }}</p>
        <p>{{ product.price }}</p>
      </div>
    {% endfor %}
  </main>
{% endblock %}
