{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
  محصولات دسته بندی
{% endblock %}
{% block head_refrences %}
  <link rel="stylesheet" href="{% static 'css/productsList.css' %}?v=0.0.5" />
{% endblock %}

{% block content %}
  <h4>
    محصولات دسته ی :
    {{ cat.title }}
  </h4>

  <div class="container">
    {% for product in products %}
      {% if product.is_active %}
        <a href="{{ product.get_absolute_url }}" class="product_card">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" />
          <h2>{{ product.name }}</h2>
          <div>
            <span class="cardPrice">{{ product.price|intcomma }}</span>
            <span>تومان</span>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
