{% extends 'base.html' %}
{% load static %}
{% block title %}
  پنل کاربری
{% endblock %}
{% block header_refrences %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %}
{% block content %}
  <main class="dashboard">
    <div class="sidebar">
        <ul>
            <li>
                <a href="">
                    پروفایل
                </a>
            </li>
            <li>
                <a href="">
                    سفارشات
                </a>
            </li>
            <li>
                <a href="">
                    تی
                </a>
            </li>
        </ul>
    </div>
  </main>
{% endblock %}
