{% extends 'base.html' %}
{% block title %}
  پنل کاربری
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-12">
            <h1>پنل کاربری</h1>
        </div>
        </div>
        <div class="row">
        <div class="col-12">
            <h2>سفارشات</h2>
            <table class="table">
            <thead>
                <tr>
                <th>شماره سفارش</th>
                <th>تاریخ</th>
                <th>مبلغ</th>
                <th>وضعیت</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.total_price }}</td>
                    <td>{{ order.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        </div>
    </div>
{% endblock %}
