{% extends 'base.html' %}
{% load static %}
{% load render_partial %}
{% load custom_filters %}

{% block title %}
  فاکتور های خرید
{% endblock %}

{% block content %}
  <main class="dashboard">
    <div class="sidebar">
      {% render_partial 'user_dashboard.views.user_panel_menu_component' %}
    </div>
    <div class="content">
      <section class="factors">

        <h1>فاکتور خرید</h1>

        <div>
            <سحش> تاریخ : {{ factor.payment_date|show_jalali_date }}</سحش>
            <سحش>مبلغ کل: {{ factor.total_price|intcomma_fa }}</سحش>
        </div>

        <table class="factors_table">
          <tr>
            <th> تصویر محصول </th>
            <th> نام محصول </th>
            <th> تعداد </th>
            <th>مبلغ</th>
          </tr> 
          {% for order in orders %}
            <tr>
                <td><img src="{{ order.product.image.url }}" width="75px"></td>
              <td>{{ order.product }}</td>
              
                <td>{{ order.count }}</td>
              <td>{{ order.final_price|intcomma_fa }}</td>
            </tr>
          {% endfor %}
        </table>

      </section>
    </div>
  </main>
{% endblock %}
