:root {
    --primary-color: black;
    --secondary-color: whitesmoke;
    --background-color: #dfdfdf;
    --text-color: #333333;
}

.cart_content{
    width: 100%;
    height: auto;
    padding: 40px 10%;
}
.cart_table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}
.cart_table th, .cart_table td{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    text-align: center;
}