{% extends 'base.html' %}

{% block content %}
  صفحه اصلی

  <img src="" alt="" />
  {% if banners %}
    {% for banner in banners %}
      <div class="banner">
        <a href="{{ banner.link }}">
          <img src="{{ banner.image.url }}" alt="{{ banner.title }}" width="200" />
          {% if banner.title %}
            <h2>{{ banner.title }}</h2>
          {% endif %}
          {% if banner.description %}
            <p>{{ banner.description }}</p>
          {% endif %}
        </a>
      </div>
    {% endfor %}
  {% else %}
    <p>هیچ بنری برای نمایش وجود ندارد.</p>
  {% endif %}
{% endblock %}
