{% extends 'base.html' %}
{% load static %}
{% block head_refrences %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block content %}
  <div class="homepage">
    <!-- Banner Section -->
    <section class="banners">
      {% if banners %}
        {% for banner in banners %}
          <div class="banner">
            <a href="{{ banner.link }}"><img src="{{ banner.image.url }}" alt="{{ banner.title }}" class="banner-image" width="100%" /></a>
          </div>
        {% endfor %}
      {% else %}
        <p>هیچ بنری برای نمایش وجود ندارد.</p>
      {% endif %}
    </section>
  </div>

  <!-- Product Slider -->
  <div class="product-slider">
    <div class="slider-container" id="slider-container">
      {% for product in products %}
        {% if product.is_active %}
          <a href="{{ product.get_absolute_url }}" class="slider-item">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" width="300" />
            <h2>{{ product.name }}</h2>
            <div>
              <span class="cardPrice">{{ product.price }}</span>
              <span>تومان</span>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
    <button class="slider-btn" id="next-btn">&#10095;</button>
    <button class="slider-btn" id="prev-btn">&#10094;</button>
  </div>
{% endblock %}

{% block end_refrences %}
  {% comment %} <script src="{% static 'js/slider.js' %}"></script> {% endcomment %}
  {% comment %} <script>
    const sliderContainer = document.getElementById('slider-container')
    const prevBtn = document.getElementById('prev-btn')
    const nextBtn = document.getElementById('next-btn')
    
    let currentIndex = 0
    const items = sliderContainer.children.length
    const itemsPerView = 4 // Number of items visible in one view
    const totalSlides = Math.ceil(items / itemsPerView)
    
    const updateSlider = () => {
      sliderContainer.style.transform = `translateX(-${currentIndex * (100 / itemsPerView)}%)`
    }
    
    prevBtn.addEventListener('click', () => {
      currentIndex = currentIndex > 0 ? currentIndex - 1 : totalSlides - 1
      updateSlider()
    })
    
    nextBtn.addEventListener('click', () => {
      currentIndex = currentIndex < totalSlides - 1 ? currentIndex + 1 : 0
      updateSlider()
    })
    
    sliderContainer.style.display = 'flex'
    sliderContainer.style.width = `${items * (100 / itemsPerView)}%`
    
    for (let item of sliderContainer.children) {
      item.style.flex = `0 0 ${100 / itemsPerView}%`
      item.style.boxSizing = 'border-box'
    }
  </script> {% endcomment %}
{% endblock %}
