{% comment %}فیلتر دسته بندی{% endcomment %}
<h3>دسته بندی محصولات</h3>
<ul>
  <li>
    <a href="{% url 'all_products' %}">همه</a>
  </li>
  {% for cat in categories %}
    <li>
      <a href="{% url 'sort_by_cat' cat_id=cat.id %}">{{ cat.title }}</a>
    </li>
  {% endfor %}
</ul>
{% comment %}فیلتر برند{% endcomment %}
<h3>برند ها</h3>
<ul>
  <li>
    <a href="{% url 'all_products' %}">همه</a>
  </li>
  {% for brand in brands %}
    <li>
      <a href="{% url 'sortByBrand' brand_id=brand.id %}">{{ brand.brand_name }}</a>
    </li>
  {% endfor %}
</ul>
{% comment %}فیلتر بازه قیمت{% endcomment %}
<h3> بازه قیمت </h3>
<ul>
    <li>
        <label for="price_min">حداقل قیمت:</label>
        <input type="number" id="price_min" name="price_min" value="0" readonly>
    </li>
    <li>
        <label for="price_max">حداکثر قیمت:</label>
        <input type="number" id="price_max" name="price_max" value="1000000" readonly>
    </li>
<li>
    <label for="price_range">بازه قیمت:</label>
    <input type="range" id="price_range" name="price_range" min="0" max="1000000" step="1000" oninput="document.getElementById('price_output').value = this.value">
    <output id="price_output">0</output>
</li>
</ul>
