.productDetails {
    padding: 40px 10%;
}

.detail_box {
    background: whitesmoke;
    display: flex;
    padding: 20px;
    border-radius: 10px;
}

.detail_box>.box_img,.{
    width: 50%;
}