:root {
    --primary-color: black;
    --secondary-color: whitesmoke;
    --background-color: #dfdfdf;
    --text-color: #333333;
}

.dashboard {
    padding: 10px 10%;
    display: flex;
    gap: 20px;
  
}

.sidebar {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--primary-color);
}

.active_sidebar {
    box-shadow: 0 0 5px var(--text-color);
    padding: 10px;
    border-radius: 5px;
}

.contactUsForm {
    background: whitesmoke;
    width: 100%;
    min-height: 400px;
    border-radius: 5px;
    padding: 20px;
}